.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #363f2f;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.websiteName {
  margin-left: 15px;
}

.websiteName a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: auto;
  align-items: center;
  margin-right: 35px;
  font-size: 20px;
  color: white;
}

.links li {
  position: relative;
}

.links li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login {
  padding: 10px 30px;
  background-color: #f8b8d6;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  margin-right: 55px;
  white-space: nowrap;
  font-size: 15px;
  font-weight: bold;
}

.menuIcon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

@media (width <= 800px) {
  .links {
    gap: 20px;
    margin-right: 25px;
    font-size: 15px;
  }

  .login {
    margin-right: 40px;
    font-size: 15px;
    padding: 8px 20px;
  }

  .websiteName {
    margin-left: 10px;
  }

  .websiteName a {
    font-size: 15px;
  }
}

@media (width < 555px) {
  .container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .menuIcon {
    display: block;
    margin-left: -5px;
  }

  .websiteName {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .links {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #363f2f;
    width: 100%;
    padding: 20px;
    flex-direction: column;
  }

  .showMenu {
    display: flex;
    align-items: start;
  }

  .login {
    padding: 5px 15px;
    margin-right: 30px;
  }
}
