.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #363f2f;
  height: 75px;

  p {
    font-size: 16px;
    color: white;
    margin: 0;
  }
}
